.popup {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.popup .content {
  background-color: #fefefe;
  border: 1px solid #888;
  margin: auto;
  padding: 20px;
  width: 80%;
}
