html {
    background: url("images/green-stripes-pattern.jpg") repeat;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
}

#main-content {
    background: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 4% 2%;
    overflow: hidden;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

h1, h3, h4 {
    text-align: center;
}

/* Выполнено */
#main-content h3 {
    margin-bottom: 0;
    color: green;
}

/* Не выполнено */
#popup-frame h3 {
    margin-bottom: 0;
    color: red;
}

img {
    float: right;
    border: 1px solid black;
    margin-left: 20px;
    width: 50%;
}

#left-column p, #right-column p, #not-done-list p {
    font-size: 14px;
}

/* Обязательно (список) */
#left-column {
    float: left;
    width: 48%;
}

/* Опционально (список) */
#right-column {
    float: right;
    width: 48%;
}

/* Кнопка "Нажми меня", открывает окно */
.press-me-button {
    display: inline-block;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
}
.press-me-button:hover {
    background-color: mediumblue;
}
.press-me-button:active {
    background-color: mediumblue;
    box-shadow: 0 1px #777;
    transform: translateY(1px);
}

/* Дальше всплывающее окно со страницей, фон */
#popup-background {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* Костыль, чтобы маленькие окна центровались вертикально */
#popup-wrapper-table {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Костыль, чтобы маленькие окна центровались вертикально */
#popup-wrapper-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 20px;
}

/* Рамка и содержимое */
#popup-frame {
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px 5px;
    border: 10px solid #ddd;
    position: relative;
    box-shadow: 0 0 20px black;
    border-radius: 10px;
}

/* Кнопка закрытия */
.popup-close-button {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 1px 3px #000;
    position: absolute;
    top: -24px;
    right: -24px;
    height: 24px;
    width: 24px;
    line-height: 25px; /* 20px */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-family: 'helvetica', sans-serif;
    text-shadow: 0 1px rgba(0, 0, 0, 0.9);
}
.popup-close-button:hover {
    background-color: rgba(255, 0, 0, 0.8);
}
