body {
  z-index: 0;
}

p {
  font-size: 1.25em;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 2.25em;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin-top: 0px;
  text-align: center;
}

img {
  float: right;
  width: 45%;
  height: 50%;
  margin-left: 20px;
}

.left-column {
  float: left;
  width: 50%;
}

.right-column {
  float: right;
  width: 45%;
}

.container-top {
  display: flex;
  max-width: 1000px;
  max-height: 1040px;
  min-width: 500px;
  min-height: 500px;
}

.flex-column {
  flex: 1;
}

.content {
  margin: 50px;
}

li {
  font-size: 1.05em;
  margin-top: 12px;
  margin-left: 8px;
  margin-right: 4px;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#leftDecorator, #rightDecorator {
  max-width: 50px;

  background-color: #AAFFAA;
}

.invisible {
  display: none;
}

#pressme {
  position: relative;
  top: -2px;
  background-color: blue;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  font-size: 0.75em;
  border: 0px;
  border-radius: 25px;
  box-shadow: 0px 2px black;
}

#pressme:active {
  position: relative;
  top: 0px;
  box-shadow: none;
}

#pressme:focus {
  outline: 0;
}

#floatedRequirements {
  position: absolute;
  background-color: white;
  left: 0px;
  top: 0px;
  margin-right: 2em;
  z-index: 1;
}

#floatedRequirements > .requirements li {
  margin: 1em;
}

#floatedRequirements > .requirements {
  display: flex;
}

#floatedRequirements > .requirements {
  display: flex;
}

#floatedRequirements > .requirements > div > h3 {
  flex: 1;
}

.closer {
  margin: 0.3em;
  float: right;
  position: relative;
  top: -2px;
  left: -2px;

  color: white;
  background-color: red;
  box-shadow: 2px 2px black;
  border-radius: 0px;
}

.closer:focus {
  outline: 0;
}

.closer:active {
  top: 0px;
  left: 0px;

  box-shadow: none;
}

.closer:focus {
  outline: 0;
}

.closer:active {
  top: 0px;
  left: 0px;

  box-shadow: none;
}

.requirements {
  clear: both;
}

.requirements > .right-column{
  margin-left: 15px;
}

.requirements > .right-column > ul {
  list-style-type: none;
}

.requirements > .right-column > ul > li:before{
  display: inline-block;
  width: 12px !important;
  margin-left: -12px;
  content:'-';
}

.solved {
}

.unsolved {
}
